#rectangle{
    width:400px;
    height:600px;
    background-color: blue;
}
#touchdown1{
    width:400px;
    height:50px;
    background-color: green;
}
#touchdown2{
    width:400px;
    height:50px;
    background-color: green;
}